/* Sidebar item default style */
.sidebar-item {
  color: #000000;
  padding: 10px 18px;
  border: none;
  width: 100%;
  text-align: left;
  background: transparent;
  transition: all 0.3s ease;
  border-radius: 6px;
  padding-bottom: 5%;
  font-size: 18px;
}

/* Hover effect */
.sidebar-item:hover {
  background-color: #b43f95;
  color: #ffffff;
   padding: 12px 16px; /* orange text on hover */
}

/* Active (clicked) item */
.sidebar-item.active {
  background-color: #b43f95; /* orange background */
  color: white; /* white text */
 
   padding: 12px 16px;
}

/* Optional: icon spacing fix */
.sidebar-item i {
  width: 25px;
  text-align: center;
}
