.iconstyle{
    font-size: 34px;
    color: #5c0e47;
}
.payment{
    background-color: rgb(250, 250, 250);
}
#iconpaypal{
    font-size: 34px;
    color: rgb(57, 119, 219);
}
.chooseupi{
    background-color: rgb(255, 255, 255);
}
#iconvisa{
    font-size: 30px;
    /* color: rgb(218, 21, 27); */
    color: rgb(57, 119, 219);
   
}
.fa-envelope{
    font-size: 15px;
}
.search input{
    text-indent: 36px;
    border: none;
    border-radius: 8px;
}
.search{
    box-shadow: none;
}
.inputstyle{
    background-color: rgb(250, 250, 250);
}