.iconstyle{
    font-size: 34px;
    color: #5c0e47;
}
.payment{
    background-color: rgb(220, 213, 213);
}
#iconpaypal{
    font-size: 34px;
    color: rgb(57, 119, 219);
}
.chooseupi{
    background-color: rgb(250, 251, 251);
}