@font-face {
    font-family: myfont;
    src: url('../fontstyle/SFPRODISPLAYBOLD.OTF');
}
@font-face {
    font-family: secondfont;
    src: url('../fontstyle/SFPRODISPLAYREGULAR.OTF');
}

.inputresult{
    background-color: white;
    padding: 5px;
    border-radius: 5px;    
}
.inputresult a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}
.text{
    font-family: myfont;
    color: white;
    font-weight: 400;
}
.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);     
    }
    .search :focus{
        box-shadow: none !important;
        border: none;
        
        outline: none;
    }
    #searchinput{
      height: 70px;
     text-indent: 50px;
     border: 2px solid #d6d4d4;
     border-radius: 15px;
    }
    #searchinput :hover{
        border: none;
    }
    #searchinput :active{
       box-shadow: none;
       
    }
    .banner{
        padding: 45px 0;
    }
    .searchicon{
     position: absolute;
     top: 25px;
     left: 16px;
    }
    .search button{
     position: absolute;
     top: 8px;
     right: 8px;
     height: 55px;
     width: 150px;
     border-radius: 10px;
     font-size:18px;
    line-height:1.3333333;
    padding:10px 16px;
    text-transform: none;
    background-color: #b43f95;
    color: white;
    border: none;
    }
   .search button:hover{
    background-color: #6d2259;
    color: white;
   }
   .search button:active{
    background-color: #6d2259;
    color: white;
   }
    .para{
        font-family: secondfont;
        color: white;   
    }
    /* waves */
     .waves {
        position: absolute;
        width: 100%;
        height: 15vh;
        min-height: 100px;
        max-height: 150px;
        bottom: 0;
        left: 0;
    }
    .parallax>use {
        animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
    } 
    .parallax>use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    } 
    .parallax>use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    } 
    .parallax>use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }
    .parallax>use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }
    @keyframes move-forever {
        0% {
            transform: translate3d(-90px, 0, 0);
        }
    
        100% {
            transform: translate3d(85px, 0, 0);
        }
    } 
    /*Shrinking for mobile*/ 
    @media (max-width: 768px) {
        .waves {
            height: 60px;
            min-height: 40px;
        }
    }
    