.heading{
    
    font-weight: bold;
    color: black;
}
.touch{
  
    font-weight: 700;
}
.background{
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.contactcard{
    box-shadow: none;
}
.ratio{
    width: 50%;
}
/* #map{
    /* background-image: url('../Images/Background.png'); 
} */