@font-face {
    font-family: coursestyle;
    src: url('../fontstyle/SFPRODISPLAYREGULAR.OTF');
}
*{
    font-family: coursestyle; 
}

.chapter{
    cursor: pointer;
    height: 48px;
    font-size: 18px;
    font-family: coursestyle;
    padding: 2%;
    padding-bottom: 14%;
    /* border: 1px solid #565656; */
    border-bottom: 1px solid #cdc6c6;
}
.chapter:hover{

    background-color: rgb(189, 194, 198);
}
.accordion-body{
padding: 0%;
}
.VimeoLogo_module_vimeoLogo__3ab50b3e{
    display: none !important;
}
.vimeo-container {
   
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;/* Prevents overflow */
  }
    
  
  .vimeo-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .buttoncerificate{
    border-radius: 10px;
    font-size:18px;
    color: white;
    line-height:1.3333333;
    padding:10px 16px;
    margin:11px;
    background-color: #b43f95;
    box-shadow: none;
    border: none;
  }
  .buttoncerificate:hover{
    color: white;
    background-color: #6d2259;
    box-shadow: none;
} 
.buttoncerificate:active{
    color: white;
    background-color: #6d2259;
    box-shadow: none;
} 
.buttoncerificate:disabled {
      background-color: #c266a9;; 
    color: white
}