#containerbox{
    background-color: rgba(14, 18, 85, 1);
    border-radius: 10px;
}
.searchbutton{
    color: white;
    width: 142px;
    font-size:16px;
}
.cardimage{
    border-radius: 20px 20px 0px 0px;
}
.coursecontainer{
    width: 75%
}