
@font-face {
    font-family: myfont;
    src: url('../fontstyle/SFPRODISPLAYBOLD.OTF');
}
#containerbox{
    background-color: rgba(14, 18, 85, 1);
    border-radius: 10px;
}
.searchbutton{
    color: white;
    width: 100px;
    font-size:16px;
}
.searchcourseinput{

    height: 70px;
   text-indent: 32px;
   border: 2px solid #d6d4d4;
   border-radius: 15px;
  }
  .searchcourseinput :hover{
      border: none;
  }
.cardimage{
    border-radius: 20px 20px 0px 0px;
}
.coursecontainer{
    width: 75%
}
.filter{
   
    color: black;
    border: none;
    background: none;
    font-weight: 200;
    text-decoration: none;
    font-size: 18px;
    font-family: myfont;
    
}
.filter:hover{
    /* color: rgba(14, 18, 85, 1); */
    color: #b43f95;
    
    
  
    /* padding: 15%;
    width: 12px;
     border-radius: 25px; */
     font-size: 18px;
     /* line-height:1.3333333; */
    border: none;
    font-family: myfont;
    cursor: pointer;
}

