@font-face {
    font-family: coursestyle;
    src: url('../fontstyle/SFPRODISPLAYREGULAR.OTF');
}

.chapter_name{
    height: 48px;
    font-size: 18px; 
    padding: 2%;
    padding-bottom: 5%;
    /* border: 1px solid #565656; */
    border-bottom: 1px solid #cdc6c6;
}
@media (max-width: 600px) {
    .accordion-body {
        padding: 0.5rem 0.75rem;
        font-size: 0.85rem;
      }
    
      .chapter_name {
        font-size: 0.85rem;
      }
}
.chapter:hover{
    background-color: rgb(189, 194, 198);
}
.paratext{
    font-family: coursestyle;
}
.iconplay{
    font-size: 18px;
}

.cartbutton{
    border-radius: 10px;
    font-size:18px;
    line-height:1.3333333;
    padding:10px 16px;
    margin:5px;
}
#cartpart{
    background-color: rgb(238, 233, 233);
}
.couponbutton{
    box-shadow: none;
    
}
.accordionitem{
    background-color: rgba(244, 238, 238, 0.395);
}
.cartbutton{
    border-radius: 10px;
    font-size:18px;
   line-height:1.3333333;
   padding:10px 16px;
   text-transform: none;
   background-color: #b43f95;
   border: none;
   color: white;
}
.cartbutton:hover{
    background-color: #6d2259;
    color: white;
}

.couponinput{
    text-indent: 10px;


        height: 70px;
       
       border: 2px solid #d6d4d4;
       border-radius: 15px;
      }
      .couponinput :hover{
          border: none;
      }

   .vimeo-container{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (divide height by width, e.g., 9/16 = 0.5625) */
    height: 0;
    overflow: hidden;
    max-width: 100%;
  
   }
   .vimeo-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
