
@font-face {
    font-family: loginstyle;
    src: url('../fontstyle/SFPRODISPLAYREGULAR.OTF');
}
*{
    font-family: loginstyle;
}
.passwordtoggle{
    cursor: pointer; 
    font-size: 20px;
    position: absolute;
top: 53%;
right: 64px;          
}
#loginform{
    background-color: rgba(14, 18, 85, 1);
    border-radius: 0px 20px 20px 0px;
}
.register_text{
    margin-left: auto;
}
.loginbutton{
    border-radius: 10px;
    font-size:18px;
   line-height:1.3333333;
   padding:10px 16px;
   text-transform: none;
   background-color: #b43f95;
   color: white;
   border: none;
}
.loginbutton:hover{
    background-color: #6d2259;
    color: white;
   }

   @media (max-width: 600px) {
    .loginimage{
      display: none;

    }
   
    #loginform{
        border-radius: 20px 20px 20px 20px; 
    }
    .passwordtoggle{
        top: 51%;
        right: 60px;  
    }
  }
.swal-toast {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  width: 90%;
  max-width: 420px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

  animation: none !important; /* IMPORTANT */
}


.swal-icon-animate {
  width: 70px;
  margin-bottom: 8px;
animation: iconPulse 1.8s ease-in-out infinite;
}
@keyframes iconPulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.20);
    opacity: 0.95;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
