#loginform{
    background-color: #5c0e47;
}
.register_text{
    margin-left: auto;
}
/* .reg:hover{
    cursor:url(./src/Images/pen1.png), auto; 
} */
/* input:hover{
    /* cursor:url(./src/Images/pen1.png), auto; 
} */