
@font-face {
  font-family: courseheading ;
  src: url('../fontstyle/SFPRODISPLAYBOLD.OTF');
}
@font-face {
  font-family: buttostyle;
  src: url('../fontstyle/SFPRODISPLAYREGULAR.OTF');
}

#mostcourse{
font-family: courseheading ;
}
.card-footer{
  background-color: transparent;
  border-top: none;
  padding: 0;
  padding-bottom: 10px;
}
.learnmore{
  border-radius: 10px;
  font-size:14px;
  line-height:1.3333333;
  padding:10px 16px;
  margin:5px;
  font-family: buttostyle;
  text-transform: none;
   background-color: #b43f95;
   color: white;
   border: none;
}
.learnmore:hover{
  color: white;
  background-color: #6d2259;
  border: none;
}
.mostpopular{
  background-color: rgba(244, 238, 238, 0.975);
}
.teachername{
  font-family: buttostyle;
  font-weight: 600;
  font-size:14px;
}

.cardcontainer{
  width: 85%;
}
  .cardbody {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  .grid > article img {
    max-width: 100%;
  }
  .grid .text {
    padding: 10px;
    color: black;
  }
  
  p{
    color: black;
   
  }
  h5{
    color: black;
   
  }

  .checked{
    color:rgb(239, 239, 15);
    }
    .notchecked{
      color: rgba(14, 18, 85, 1);
    }
    @media (max-width: 600px) {
      .cardcontainer{
        width: 87%;
  
      }
      
  }
  
  .comingcard {
    position: relative;
   
    overflow: hidden;
  }
  
  /* Applying opacity to all card contents except the button */
  .comingcard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6); /* White overlay with opacity */
    z-index: 1;
  }
  
  /* Ensuring the card content is above the overlay */
  .comingcard .card-body,
  .comingcard img {
    position: relative;
  }
  
  /* Styling the Coming Soon button */
  .comingcard .coming {
    position: relative;
    z-index: 3;
    /* background-color: #b43f95; */
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    /* background: rgb(96,9,240);
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    font-size:18px; */
    line-height:1.3333333;
    padding:10px 16px;
    margin:5px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: buttostyle;
   
    opacity: 1; 
   
  }
  



  