/* Profile Card */
.profile-card {
  border-radius: 14px;
  background: #ffffff;
}

/* Avatar */
.profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(135deg, #b43f95, #6f42c1);
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.statusstyle{
  text-transform: capitalize;
  font-weight: 600;
  background-color: rgb(5, 91, 5);
  color: white;
  padding: 5px 10px;
}


/* Mobile Optimization */
@media (max-width: 576px) {
  .profile-avatar {
    width: 80px;
    height: 80px;
    font-size: 24px;
  }

  .profile-card {
    border-radius: 10px;
  }
}
