.cart{
    color: white;
}
a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    box-shadow: none;
}
.navbar-brand{
    cursor:url(./src/Images/pen2.png), auto;
}
.navbar-toggler-icon{
    
    
    background-image: url(../Images/navbar.png);
}
#loginbutton:hover{
    cursor: url(../Images/pen2.png), auto;
}
.dropdown-item{
    cursor: url(../Images/pen2.png), auto;
}
.nav-link:hover{
    cursor: url(../Images/pen2.png), auto;
}