@font-face {
    font-family: myfont;
    src: url('../fontstyle/SFPRODISPLAYBOLD.OTF');
}

.nav-link{
    font-family: myfont;
}
.cart{
    color: white;
    font-size: 30px;
}
.isologo{
    opacity: 0.5;
}
a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    box-shadow: none;
}
.buttonstyle{
    border-radius: 10px;
    font-size:18px;
    line-height:1.3333333;
    padding:10px 16px;
    margin:11px;
    background-color: #b43f95;
    box-shadow: none;
}
 .buttonstyle:hover{
    color: white;
    background-color: #6d2259;
    box-shadow: none;
} 
.buttonstyle:active{
    color: white;
    background-color: #6d2259;
    box-shadow: none;
} 


.childbutton{
    border: none;
    box-shadow: none;
    background-color: transparent;

}
.childbutton :hover{
    border: none;
    box-shadow: none;
    background-color: transparent;

}

/* .navbar-brand{
    cursor:url(./src/Images/pen2.png), auto;
} */
/* .navbar-toggler-icon{  
    background-image: url(../Images/navbar.png);
} */
/* #loginbutton:hover{
    cursor: url(../Images/pen2.png), auto;
} */
/* .dropdown-item{
    cursor: url(../Images/pen2.png), auto;
} */
/* .nav-link:hover{
    cursor: url(../Images/pen2.png), auto;
} */
.logoname{
 font-family: myfont;
 font-size: 18px;
}
.cartstyle{
    border-radius: 50%;
    background-color: rgb(51, 51, 137);
    
    width: 40px;
    height: 40px;
}
/* .cartphoto{
    margin-left: 11px;
} */
.iconnav{
    color: white;
}
.togglebutton :hover{
border: none;
}
.carticon{
    width: 22px;
    height: 22px;
    margin-bottom: 7%;
    position: relative;

}
.badge{
    position: absolute;
}
/* #cartitem{
    margin-left: -17px;
} */
@media (max-width: 600px) {
    .cartpart{
      margin-left:44% ;

    }
    .buttonstyle{
        margin-left:20% ;
    }
    .userdrop{
        margin-left:20%
    }
}

@media (max-width: 800px) {
    .cartpart{
      margin-left:46% ;

    }
    .buttonstyle{
        margin-left:20% ;
    }
    .userdrop{
        margin-left:30%
    }
}
@media (max-width: 900px) {
    .cartpart{
      margin-left:46% ;

    }
    .buttonstyle{
        margin-left:8% ;
    }
    .userdrop{
        margin-left:30%
    }

}
@media (max-width: 1000px) {
    .cartpart{
      margin-left:43% ;

    }
    /* .buttonstyle{
        margin-left:29% ;
    } */
    .userdrop{
        margin-left:23%
    }

}
/* Offline register */

.blink { 
    animation: blink-animation 2s infinite; 
    color: yellow;
    font-family: myfont;

  } 
  .dropdown-menu[data-bs-popper] {
    top: 111%;
    left: 30px;
}

  
    
  @keyframes blink-animation { 
    0% { 
      opacity: 1; 
    } 
    50% { 
      opacity: 0; 
    } 
    100% { 
      opacity: 1; 
    } 
  }
